//- This is how we extend a template using the 'extends' keyword
extends ../../../templates/master.pug

//- This is how we insert dynamic content to extended templates
block content
    h1.title Vehicle
    hr
    ul
        each car in cars
            li= `${car.intID} - ${car.strMake} - ${car.strModel} - ${car.strYear} - ${car.strPN} - ${car.strCondition}`
    br
    ul
        a(class = 'button' href = '/index/update') update vehicle
        a(class = 'button' href = '/index') back to list